EricOgreEngine/Backup
EricOgreEngine/Debug
EricOgreEngine/Release
EricOgreEngine/ipch
EricOgreEngine/_UpgradeReport_Files
EricOgreEngine/UpgradeLog.htm
EricOgreEngine/UpgradeLog.xml
EricOgreEngine/EricOgreEngine/Debug
EricOgreEngine/EricOgreEngine/Release
OgreSampleApp/Debug
OgreSampleApp/ipch
OgreSampleApp/OgreSampleApp/Debug
OgreSampleApp/OgreSampleApp/Release
